<div id="productExtraFieldsContainer"></div><link href="https://extrafields.shopifyappexperts.com/css/extrafield.css" type="text/css" rel="stylesheet"><script type="text/javascript">var jQueryScriptOutputted = false; function initJQuery() { if (typeof(jQuery) == "undefined") { if (! jQueryScriptOutputted) { jQueryScriptOutputted = true; document.write("<script type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.min.js'></scr" + "ipt>"); } setTimeout("initJQuery()", 50); } else { $(function() { loadProductExtraFields(); }); } } initJQuery();

function loadProductExtraFields() {
	$.getJSON(document.URL, function(data) {
		$.ajax({
			url: "https://extrafields.shopifyappexperts.com/getproductfields.php",
			type: "POST",
			data: {product_id: data.product.id, shop_id: 1177},
			dataType: "json",
			success: function(response) {
				if(response.result == "true") {	
					var html = "<table id='product-attribute-specs-table' class='data-table'><tbody>";

					$.each(response.data, function(i, v) {
						var divclass = (i % 2 == 0) ? "odd" : "even";
						html += "<tr class='first "+divclass+"'>";
						html += "<th class='label'>"+v.field_name+"</th>";						
						if(v.field_type == 'text'){
							html += "<td class='data last'>"+v.field_value+"</td>";
						}else if(v.field_type == 'link'){
							html += "<td class='data last'><a href="+v.field_value+" target='_blank'>"+v.field_value+"</a></td>";
						} else{
                        	var url = "";
                            if(v.field_value && (v.field_value.indexOf("http://") > -1 || v.field_value.indexOf("https://") > -1)) {
                                url = v.field_value;
                            } else {
                              	url = "https://extrafields.shopifyappexperts.com/upload/"+v.field_value;
                            }
                        	html += "<td class='data last'><img src='"+url+"'></td>";
                      	} 
						html += "</tr>";
					});

					html += "</tbody>";
					html += "</table>";
					$("#productExtraFieldsContainer").html(html);
				}	
			}
		});
	});
}
</script>