<div id="section-{{ section.id }}">
  <div class="xcontainer xwide">
  	<div id="insta-feed"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Instafeed Grid",
    "settings": [
                  {
                    "type": "header",
                    "content": "Instagram helper section for the Instafeed"
                  }
			],
	"presets": [
		{
			"name": "Instafeed Grid",
			"category": "9. Instagram"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
