<div class="press---main">
  {%- section 'press-banner' -%}
  {%- section 'press-highlights' -%}
  {%- section 'press-releases' -%}
</div>
<style>
  .press---main{padding-bottom:60px;}
  @media screen (max-width:1139px){
    .press---main{padding-top:50px;}
  }
  @media screen (max-width:991px){
    .press---main{padding-top:45px;}
  }
  @media screen (max-width:767px){
    .press---main{padding-top:40px;}
  }
  @media screen (max-width:639px){
    .press---main{padding-top:30x;}
  }
</style>