<div class="sms_landing_page">
	{%- section 'smslanding_formv2' -%}
	{%- section 'smslanding_productsv2' -%}
	{%- section 'smslanding_storelocatorv2' -%}
</div>

<style>
	#shopify-section-header,
	#section-footer
	{
		display: none !important;
	}

</style>