<div class="keep--it--real--main">
  {%- section 'kir-banner' -%}
  {%- section 'kir-content-below-banner' -%}
  {%- section 'kir-grids' -%}
  {%- section 'partner-logos' -%}
  {%- section 'store-locator-map' -%}
  {%- section 'kir-nasdaq-banner' -%}
  {%- section 'grid-4col-with-heading' -%}
</div>
<style>
  .keep--it--real--main #section-partner-logos{padding-top:60px;}
  
  @media screen (max-width:1139px){
    .keep--it--real--main #section-partner-logos{padding-top:50px;}
  }
  @media screen (max-width:991px){
    .keep--it--real--main #section-partner-logos{padding-top:45px;}
  }
  @media screen (max-width:767px){
    .keep--it--real--main #section-partner-logos{padding-top:40px;}
  }
  @media screen (max-width:639px){
    .keep--it--real--main #section-partner-logos{padding-top:30x;}
  }
</style>