<div class="sms_landing_page">
	{%- section 'smslanding_form' -%}
	{%- section 'smslanding_products' -%}
	{%- section 'smslanding_storelocator' -%}
</div>

<style>
	#shopify-section-header,
	#section-footer
	{
		display: none !important;
	}

</style>