{% include 'elspw_product' %}
{% section 'product-customized-template' %}
{% section 'single-product-tab' %}
{% section 'instagram-feed' %}
<!-- <div class="section_whats_different">
  <div class="container">
    <a href="https://realgoodfoods.com/pages/us-vs-them" class="lezada-button lezada-button--medium lezada-cta-button lezada-cta-button-orange">What makes us different</a>
  </div>
</div> -->

<style>
  @media (max-width:767px){
    .section_whats_different{
      min-height:220px;
    }
    .section_whats_different .lezada-button{
      padding:10px 25px !important;
      font-size:18px !important;
      line-height:1.15 !important;
      width:80%;
      max-width:350px;
    }
  }
  @media (max-width:639px){
    .section_whats_different{
      min-height:180px;
    }
    .section_whats_different .lezada-button{
      padding:12.5px 20px !important;
      font-size:18px !important;
      max-width:325px;
    }
  }
  @media (max-width:767px){
    .section_whats_different{
      min-height:140px;
    }
    .section_whats_different .lezada-button{
      padding:8px 15px !important;
      font-size:12px !important;
      width:72%;
      max-width:260px;
    }
  }
</style>

<script>
                  var CRL8_SITENAME = 'realgoodfoodco-pon8kc'; !function(){var e=window.crl8=window.crl8||{},n=!1,i=[];e.ready=function(e){n?e():i.push(e)},e.pixel=e.pixel||function(){e.pixel.q.push(arguments)},e.pixel.q=e.pixel.q||[];var t=window.document,o=t.createElement("script"),c=e.debug||-1!==t.location.search.indexOf("crl8-debug=true")?"js":"min.js";o.async=!0,o.src=t.location.protocol+"//edge.curalate.com/sites/"+CRL8_SITENAME+"/site/latest/site."+c,o.onload=function(){n=!0,i.forEach(function(e){e()})};var r=t.getElementsByTagName("script")[0];r.parentNode.insertBefore(o,r.nextSibling)}();
                </script>
